<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Purchase</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Edit Purchase</h1>
<form action="#" th:action="@{/purchases/update/{id}(id=${purchase.id})}" th:object="${purchase}" method="post">
    <label for="phoneNumber">User Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{user.phoneNumber}" readonly>
    <br>

    <label for="totalAmount">Total Amount:</label>
    <input type="number" id="totalAmount" th:field="*{totalAmount}" required>
    <br>

    <label for="bonusAmount">Bonus Amount:</label>
    <input type="number" id="bonusAmount" th:field="*{bonusAmount}" required>
    <br>

    <label for="storeType">Store Type:</label>
    <select id="storeType" th:field="*{storeType}">
        <option value="ONLINE">ONLINE</option>
        <option value="OFFLINE">OFFLINE</option>
    </select>
    <br>

    <label for="returned">Returned:</label>
    <input type="checkbox" id="returned" th:field="*{returned}">
    <br>

    <button type="submit">Update Purchase</button>
</form>
<a href="/purchases">Back to Purchases List</a>
</body>
</html>