<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лояльність Система</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Лояльність Система</h1>
    <nav>
        <ul>
            <li><a href="#" th:href="@{/users}">Юзери</a></li>
            <li><a href="#" th:href="@{/purchases}">Покупки</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Вітаємо на головній сторінці!</h2>
    <p>Виберіть пункт меню для перегляду та управління даними.</p>
</main>

<footer>
    <p>&copy; 2024 Лояльність Система</p>
</footer>
</body>
</html>