<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупки</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Покупки</h1>
    <nav>
        <ul>
            <li><a href="#" th:href="@{/}">Головна</a></li>
            <li><a href="#" th:href="@{/users}">Юзери</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Список покупок</h2>
    <table>
        <thead>
        <tr>
            <th>Сума</th>
            <th>Номер телефону</th>
            <th>Дата створення</th>
            <th>Операції</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purchase : ${purchasePage.content}">
            <td th:text="${purchase.totalAmount}"></td>
            <td th:text="${purchase.user.phoneNumber}"></td>
            <td th:text="${purchase.createdDate}"></td>
            <td>
                <a th:href="@{'/purchases/' + ${purchase.id}}">Переглянути</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${totalPages}"></span>
        <div th:if="${currentPage > 0}">
            <a th:href="@{/purchases(page=${currentPage - 1})}">Попередня</a>
        </div>
        <div th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/purchases(page=${currentPage + 1})}">Наступна</a>
        </div>
    </div>
    <a href="/purchases/new">Додати нову покупку</a>
</main>

<footer>
    <p>&copy; 2024 Лояльність Система</p>
</footer>
</body>
</html>